body {
    background-color: #28292a;
    min-height: 100%; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}
.wrapper .buttons-wrapper {
    padding: 10px;
    
}
.wrapper .buttons-wrapper button {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #d4d4d4;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    outline: none;
    transition-duration: 0.2s;
}
.wrapper .buttons-wrapper button:hover {
    background-color: #f0f0f0;
    transition-duration: 0.2s;
}
input[type="text"] {
        /*Size & Position */
    width: 500px;
    height: 40px;	
        /*Margin, Border & Padding*/
    border: 2px solid #0F0F10;
    margin: 10px;
    padding-left: 15px;
        /*Other*/
    background: radial-gradient(circle at 50% 33%, #0F0F10, #0F0F10);
    color: #e7e7e7;
    opacity: 1;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

input[type="text"]:focus{ 
    outline-color: transparent;
}

